There are columns where Null/NaN is represented by 0.

In [62]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

for col in df.select_dtypes(include=numerics).columns:
    print(col)
    print(round(df[col].value_counts(normalize= True).iloc[0] #assuming 0 and 0.0 are the first (0th) element
                *100,2), 
                f'% of {col} values is 0')

amount_tsh
70.1 % of amount_tsh values is 0
gps_height
34.41 % of gps_height values is 0
longitude
3.05 % of longitude values is 0
latitude
3.05 % of latitude values is 0
num_private
98.73 % of num_private values is 0
population
35.99 % of population values is 0
construction_year
6.84 % of construction_year values is 0

For column * **construction_year**, we can be certain that the 0s represent missing value.\
For columns population, we are not sure.\
For other columns, we can be skeptical, but do not currently have enough information to arrive to such conclusions.

In [63]:
df['population'].value_counts().sort_index().head(30)

0     21381
1      7025
2         4
3         4
4        13
5        44
6        19
7         3
8        23
9        11
10      163
11        7
12       43
13       12
14       18
15      193
16        8
17        6
18       18
19        3
20      462
21        3
22        9
23       27
24       16
25      255
26       11
27        5
28        9
29        7
Name: population, dtype: int64

Perhaps we use binning techniques for column :**population**

In [64]:
df['construction_year'] = df['construction_year'].replace({0:np.NaN, 0.0: np.NaN})

Drop Columns

In [66]:
df['num_private'].value_counts(normalize = True)

0      0.987256
6      0.001364
1      0.001229
5      0.000774
8      0.000774
         ...
180    0.000017
213    0.000017
23     0.000017
55     0.000017
94     0.000017
Name: num_private, Length: 65, dtype: float64

In [67]:
cols_to_drop = ['recorded_by',  # only 1 unique value
                'num_private'] # ~99% of data is 0, also no info in data dictionary
df.drop(columns = cols_to_drop, inplace = True)